@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

:root {
  --bg-light: #ffffff;
  --text-light: #1a202c;

  --bg-dark: #111827;
  --text-dark: #f7fafc;
}

.App {
  min-height: 100vh;
  transition: background 0.1s, color 0.1s;

  &__main-page-content {
    min-height: calc(100vh - 80px);
  }
}

.App.light {
  background: var(--bg-light);
  color: var(--text-light);
  --theme-primary-color: #0ea5e9; // Premium lightblue (sky-500)
  --theme-accent-color: #0ea5e9;
  --theme-accent-dark: #0284c7;
}

.App.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
  --theme-primary-color: #4f46e5; // Indigo for dark mode
  --theme-accent-color: #4f46e5;
  --theme-accent-dark: #4338ca;
}

.navbar__menu__item__links.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.1s;
}

.App.light .navbar__menu__item__links.theme-toggle {
  color: var(--text-light);
}

.App.dark .navbar__menu__item__links.theme-toggle {
  color: var(--text-dark);
}